[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "learn-ml-potential-metal"
version = "0.1.0"
requires-python = ">=3.9"

[tool.setuptools.packages.find]
where = ["src"]
